* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: white;
}

header {
  background-color: blueviolet;
  padding: 20px;
  margin-bottom: 10px;
  position: sticky;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav button {
  padding: 5px;
  background-color: blueviolet;
  border: none;
  color: white;
}

nav button:hover {
  border-bottom: 1px solid white;
}

section {
  justify-self: center;
  padding: 10px;
  width: 85%;
  border-radius: 12px;
  margin-bottom: 1rem;
  background-color: white;
  color: black;
  box-shadow: 0 0 4px black;
}



#home h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#map{
  display: flex;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#text-area{
  height: 90%;
  width: 100%;
  border: none;
  box-shadow: 0 0 4px black;
  margin: 10px 0;
  border-radius: 12px;
  padding: 10px;
  text-align: start;
  resize: none;
}

.inputSelection {
  display: flex;
  justify-self: center;
  gap: 1rem;
  align-items: center;
}

.p-mapping {
  margin: 10px 0;
}

.button-mapping {
  border: 0;
  text-align: center;
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 4px black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  
}

.login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-color: white;
  box-shadow: 0 0 10px black;
  width: 400px;
  padding: 15px;
  border-radius: 12px;
}

.login-form input{
  width: 300px;
  border: none;
  padding: 10px;
  box-shadow: 0 0 2px black;
  border-radius: 12px;
  margin: 10px;
}

.login-form button{
  width: 300px;
  border: none;
  padding: 10px;
  box-shadow: 0 0 2px black;
  border-radius: 24px;
  margin: 10px;
}
.login-form label{
  width: 300px;
  text-align: left;
}

#controller{
  background-color: green;
  width: 150px;
  height: 50px;
}

#volante{
  background-color: magenta;
  width: 150px;
  height: 50px;
}